* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.6%;
    font-family: "DM Sans", sans-serif;
}
:root {
    /* colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-one: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;

}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 330px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header .header_logo {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
header .header_contenedor {
    width: 90%;
    min-width: 290px;
    max-width: 900px;
    height: 220px;
    margin-top: 40px;

    text-align: center;
    align-self: center;
}
header .header_contenedor h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);

}
header .header_contenedor p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}
header .header_contenedor .header_bottom {
    position: absolute;
    left: calc(50% - 120px);
    top: 27rem;
    display: block;
    margin-top: 35px;

    padding: 10px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black-one);

}
.header_bottom span {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-inter {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-inter--title {
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;
   
}
main .backgroundBTC {
    width:200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-inter--title h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2.4rem ;
    line-height: 2.6rem;
    color: var(--warm-black);

}

.main-inter--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#757575;

}

.main-inter-table .table-coins {
 text-align: center ;
}
.main-currency {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-inter-table .title-currency{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);


}
.table-coins {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}
.table-coins table {
    width: 100%;
    height: 100%;

}
.table-coins td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--white);
}
.table-coins .table_top-left {
    border-radius: 15px 0 0 0;
}
.table-coins .table_top-right {
    border-radius: 0 15px 0 0;
}
.table-coins .table_bottom-right {
    border-radius: 0 0 15px 0;
}
.table-coins .table_bottom-left {
    border-radius: 0 0 0 15px;
}
.table-coins .table-right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.table-coins .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
}
.table-coins .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");;
    background-size: cover;
}
.currency__table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.main__product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
    

}
.main__product-detail .potato-icon {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
    left: calc(50% - 20px);
    top: -10px;
}
.header__product {
    width: 90%;;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}
.header__product h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: var(--white);
    font-weight: bold;
    line-height: 2.6rem;

}
.header__product p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:  #808080;

}
.product-detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-one);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
    background-repeat: no-repeat;
}
.clock {
background-image: url('./assets/icons/clock.svg');
height: 25px;
width: 30px;
background-repeat: no-repeat;
display: inline-block;
}
.eye {
    background-image: url('./assets/icons/eye.svg');
    height: 25px;
width: 30px;
background-repeat: no-repeat;
display: inline-block;
}
.dolar {
    background-image: url('./assets/icons/dollar-sign.svg');

    height: 25px;
width: 30px;
background-repeat: no-repeat;
display: inline-block;
}
.check {
    background-image: url('./assets/icons/check-circle.svg');
    height: 25px;
width: 30px;
background-repeat: no-repeat;
display: inline-block;
}
.product-detail-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white)
}
.product-detail--card .body-detailproduct {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.batatacoin-img {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.batatacoin-img  h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

    color: var(--white);
}
.plans-product {
    text-align: center;

}
.plans-product .title-plans {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-top: 60px;
}
.content-plans {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin: auto 10px;
    margin-top: 20px;
    
}
.value--zone{
    display: inline-block;
    width: 70%;
    min-width: 210px;
    height: 250px;
    margin-top: 50px;
    position: relative;
    scroll-snap-align: center;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    
}
.text--value_floating {
    background-color: var(--bitcoin-orange);
    width: 100px;
    height: 30px;
    display: inline-block;
    padding-top: 7px;
    font-size: 1.2rem;
    position: absolute;
    border-radius: 8px;

    font-weight: bold;
    color: var(--white);

    left:  calc(50% - 50px);
    top: -15px;
}
.plans--value h2 {
    margin-top: 30px;
}
.container--value {
    position: relative;
}
.container--value p {
    display: inline;
    font-size: 5.0rem;
    font-weight: bold;
    line-height: 6.2rem;

}
.container--value span {
    position: absolute;
    top: 11px;
    left: calc(50% - 40px)
}
.plans--value .aclaration-descount {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: #757575;
    margin-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.plans--value .bottom-confirm {
    width: 150px;
    height: 50px;
    border: 2px solid #F7931A;
    border-radius: 4px;
    background-color: var(--off-white);

    position: absolute;
    padding-top: 14px;
    padding-left: 1px;
    margin-top: 15px;
    left: calc(50% - 80px);

}
.plans--value .bottom-confirm  .bottom__content {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    position: relative;
    left: -10px; 
    color: var(--warm-black);

}
.plans--value .bottom-confirm .bottom__arrow--right {
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;
    width: 20px;
    height: 20px;
   vertical-align: text-bottom;
    position: absolute;
    
}

.plan-value-Alpha h2 {

    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
}   
.plan-value-Alpha .container--value_alpha span {
    font-size: 1.2rem;

}

.plan-value-Alpha .container--value_alpha p {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
}

.plan-value-Alpha  .alpha-description {
    font-weight: 500;
    font-size: 1.2rem;
    color:#757575;
}
.plan-value-Alpha  .alpha-confirm {

}
.alpha-content {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.containeir--price_month p {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
}
.description--price {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.45rem;
    padding-right: 15px;
    padding-left: 15px;
}  /*
display: inline-block;
    width: 70%;
    height: 250px;
    margin-top: 50px;
    position: relative;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
    border-radius: 8px;*/

    .price--month    .bottom-confirm {
        width: 150px;
        height: 50px;
        border: 2px solid #F7931A;
        border-radius: 4px;
        background-color: var(--off-white);
        position: absolute;
        padding-top: 14px;
        padding-left: 1px;
        margin-top: 15px;
        left: calc(50% - 80px);
    }
    .price--month    .bottom-confirm .bottom_month{
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        position: relative;
        left: -10px;
        color: var(--warm-black);
    }
    .price--month    .bottom-confirm .bottom__arrow--right{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('./assets/icons/orange-right-arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     
        vertical-align: text-bottom;
        position: absolute;
    }
    .plans-product .plans-product--container {
    	display: flex;
	overflow-x: scroll;
    overflow-y: hidden;
	overscroll-behavior-x:contain;
	scroll-snap-type:  x proximity;
	padding-top: 4rem;
    gap: 75px;
    padding: auto 20px;
    }